<style>

#rt-darkblue {
    border-radius: 20px;
    border: 2px solid #275587;
	background-color: #FFFFFF;
    padding: 5px; 
}
#rt-green {
    border-radius: 20px;
    border: 2px solid #27ae60;
	background-color: #e6f2eb;
    padding: 3px; 
}
#rt-red {
    border-radius: 20px;
    border: 2px solid #f44242;
	background-color: #f7c3c3;
    padding: 3px; 
}
#rt-menu {
    border-radius: 13px;
    border: 2px solid #275587;
	background-color: #CCCCCC;
    padding: 5px; 
}

.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table-rounded {
    border: none;
}
.zui-table-rounded thead th {
    background-color: #CFAD70;
    border: none;
    text-shadow: 1px 1px 1px #ccc;
    color: #333;
}
.zui-table-rounded thead th:first-child {
    border-radius: 10px 0 0 0;
}
.zui-table-rounded thead th:last-child {
    border-radius: 0 10px 0 0;
}
.zui-table-rounded tbody td {
    border: none;
    border-top: solid 1px #957030;
    background-color: #EED592;
}
.zui-table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.zui-table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

</style>
